/* Beginning of Base webpage */
body {
	text-align: center;
	background-color: #3C6946;
	height: 850px;
	font-family: monospace;
}

#center_content {
		background-color: #ffffff;
		margin-left: 200px;
		margin-right: 200px;
		height: inherit;
		border-radius: 15px;
		min-width: 750px;
		max-width: 75%;;
}

h1::first-letter {
	font-size: 200%;
}

h1::first-line {
	font-family: monospace;
	font-size: 150%;
	text-shadow: 3px 3px 1px #969696;
	color: #000000;
	letter-spacing: 0.2em;
}

ul {
	border-bottom: 2px solid #000000;
}

li {
	display: inline;
	margin-right: 40px;
}

a {
	font-family: sans-serif;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}

a:hover {
	border-bottom: 6px solid #307FD3;
	padding-bottom: 16px;
	border-radius: 50%;
}

p.page_credits {

}

img {
	float: left;
}

img:active {
	transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
/* End of Base web page */

/* Beginning of About page */



/* End of About page */
